{% extends 'admin_panel/base_admin.html' %}
{% load static %}

{% block page_title %}Yo'nalishlar{% endblock %}

{% block content %}
<div class="table-container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h5 class="mb-0">
            <i class="fas fa-book me-2" style="color: #4361ee;"></i>
            Yo'nalishlar ro'yxati
        </h5>
        
     
    </div>
    
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nomi</th>
                    <th>Kod</th>
                    <th>Talabalar</th>
                    <th>Savollar</th>
                    <th>Holati</th>
                    <th>Qo'shilgan</th>
                    <th>Amallar</th>
                </tr>
            </thead>
            <tbody>
                {% for direction in directions %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><strong>{{ direction.name }}</strong></td>
                    <td><code>{{ direction.code }}</code></td>
                    <td>
                        <span class="badge badge-info" style="color: rgb(189, 111, 111);">{{ direction.students_count }} ta</span>
                    </td>
                    <td>
                        <span class="badge badge-warning">{{ direction.questions_count }} ta</span>
                    </td>
                    <td>
                        {% if direction.is_active %}
                            <span class="badge badge-success">Aktiv</span>
                        {% else %}
                            <span class="badge badge-danger">Noaktiv</span>
                        {% endif %}
                    </td>
                    <td>{{ direction.created_at|date:"d.m.Y" }}</td>
                    <td>
                    
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8" class="text-center py-4">
                        <i class="fas fa-book fa-3x text-muted mb-3"></i>
                        <p class="text-muted">Yo'nalishlar yo'q</p>
                      
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}